services:
  mongodb:
    image: mongo:7
    container_name: authsphere_mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
      MONGO_INITDB_DATABASE: authsphere
    volumes:
      - mongo_data:/data/db
volumes:
  mongo_data:
